$cold1: #598392;
$cold2: #124559;
$cold3: #01161e;
$warm1: #eff6e0;
$warm2: #aec3b0;

.container {
  display: flex;
  // flex-direction: row;
  // flex-wrap: nowrap;
}

.headLight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 2;
  height: 100vh;
  width: 23vw;
  overflow-y: scroll;
  margin: 0;
  background-color: $warm2;
  color: $cold2;
  border-right: 2;
  border-color: darkblue;
  position: fixed;
}

.bodLight {
  display: flex;
  flex: 8;
  // margin-left: 20vw;
  width: 77vw;
  background-color: $warm1;
  color: $cold3;
  position: absolute;
  right:0
}

.headDark{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 2;
  width: 23vw;
  height: 100vh;
  overflow-y: scroll;
  margin: 0;
  background-color: $cold2;
  color: $warm2;
  border-right: 2;
  border-color: darkblue;
  position:fixed;
}

.bodDark {
  display: flex;
  flex: 8;
  // margin-left: 20vw;
  width: 77vw;
  background-color: $cold3;
  color: $cold1;
  position: absolute;
  right:0
}
