$cold1: #598392;
$cold2: #124559;
$cold3: #01161e;
$warm1: #eff6e0;
$warm2: #aec3b0;

.container {
  display: flex;
}

.headLight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // flex: 3;
  height: 100vh;
  width: 23vw;
  overflow-y: scroll;
  margin: 0;
  background-color: $warm2;
  color: $cold2;
  border-right: 2;
  border-color: darkblue;
  position: fixed;
}

.headTopLight {
  background-color: $warm2;
  width: 100vw;
  height: 10vh;
  position:fixed;
  bottom:0
}

.bodyLight {
  display: flex;
  flex-direction: column;
  width: 77vw;
  min-height: 100vh;
  background-color: $warm1;
  color: $cold3;
  position: absolute;
  right: 0;
}

.headDark {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 2;
  width: 23vw;
  height: 100vh;
  overflow-y: scroll;
  margin: 0;
  background-color: $cold2;
  color: $warm2;
  border-right: 2;
  border-color: darkblue;
  position: fixed;
}

.bodyDark {
  display: flex;
  flex: 8;
  // margin-left: 20vw;
  width: 77vw;
  background-color: $cold3;
  color: $cold1;
  position: absolute;
  right: 0;
}

@media (max-width: 600px) {
  .bodyLight {
    width: 100vw;
  }
  .bodyDark {
    width: 100vw;
  }
  .headLight {
    width: 0vw;
  }
  .headDark {
    width: 0vw;
  }
}
